/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
}
.nav {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background: #8D7E83;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  padding: 1.3% 0;
}
@media (max-width: 500px) {
  .nav {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;
    padding-top: 3%;
  }
}
.nav h1 {
  width: 35%;
  font-size: 4rem;
  margin: 0;
  padding: 0 1%;
}
@media (max-width: 500px) {
  .nav h1 {
    width: 55%;
  }
}
.nav nav {
  width: 60%;
  font-size: 1.8rem;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .nav nav {
    margin-bottom: 3%;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
.nav nav .join-now {
  background: #006FBB;
  color: white;
  width: 30%;
  margin-left: 5%;
}
.nav nav .join-now:hover {
  background: white;
  color: #006FBB;
}
@media (max-width: 500px) {
  .nav nav .join-now {
    width: 20%;
    height: 25px;
    margin-left: 12%;
  }
}
.nav nav .sign-in {
  background: white;
  color: #006FBB;
  width: 30%;
}
.nav nav .sign-in:hover {
  background: #006FBB;
  color: white;
}
@media (max-width: 500px) {
  .nav nav .sign-in {
    width: 20%;
    height: 25px;
  }
}
.nav nav a {
  margin: 0 2%;
  width: 25%;
  height: 40px;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  padding-top: 1%;
  text-decoration: none;
}
@media (max-width: 500px) {
  .nav nav a {
    width: 10%;
    font-size: 1.2rem;
  }
}
.nav nav a:hover {
  color: #006FBB;
}
.nav nav .nav-test,
.nav nav .nav-home,
.nav nav .nav-about {
  color: white;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro {
  display: flex;
}
@media (max-width: 500px) {
  .home .intro {
    flex-direction: column;
  }
}
.home .intro .intro-text {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2%;
}
.home .intro h2 {
  padding: 5%;
  padding-bottom: 1%;
  margin: 0;
  font-size: 5rem;
}
.home .intro h3 {
  padding: 5%;
  padding-top: 1%;
  color: #8D7E83;
}
.home .intro p {
  padding: 5%;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 3%;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  max-height: 400px;
}
.home .intro button {
  text-decoration: none;
  border: none;
  background: #006FBB;
  color: white;
  padding-bottom: 12%;
  padding-top: 5%;
  margin: 0 5%;
  height: 10px;
  margin-bottom: 5%;
  width: 80%;
  border-radius: 10px;
  font-size: 3rem;
  text-align: center;
}
.home .intro button:hover {
  background: white;
  color: #006FBB;
  border: 1px solid #006FBB;
}
.home .intro img {
  max-width: 60%;
}
@media (max-width: 500px) {
  .home .intro img {
    max-width: 100%;
  }
}
.home .feature1 {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  .home .feature1 {
    flex-direction: column;
  }
}
.home .feature1 .f1-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .feature1 .f1-text {
    width: 90%;
  }
}
.home .feature1 .f1-text p {
  width: 80%;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
@media (max-width: 500px) {
  .home .feature1 .f1-text p {
    width: 100%;
  }
}
.home .feature1 .f1-text h3 {
  padding-bottom: 5%;
  font-size: 3.5rem;
}
.home .feature1 .f1-img img {
  max-width: 100%;
}
.home .feature2 {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .home .feature2 {
    flex-direction: column;
  }
}
.home .feature2 .f2-text {
  width: 60%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .feature2 .f2-text {
    width: 90%;
  }
}
.home .feature2 .f2-text h3 {
  padding-bottom: 5%;
  font-size: 3.5rem;
}
.home .feature2 .f2-text p {
  width: 80%;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
@media (max-width: 500px) {
  .home .feature2 .f2-text p {
    width: 100%;
  }
}
.home .feature2 .f2-img {
  width: 50%;
}
@media (max-width: 500px) {
  .home .feature2 .f2-img {
    width: 100%;
  }
}
.home .feature2 .f2-img img {
  max-width: 100%;
}
.home .join {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home .join h1 {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  margin: 2%;
}
.home .join div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 2px dashed #8D7E83;
}
.home .join div h1 {
  font-size: 3rem;
}
.home .join div p {
  padding: 10%;
  padding-top: 0;
}
.home .join div img {
  width: 250px;
  height: 200px;
  object-fit: scale-down;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .join div img {
    width: 200px;
    height: 200px;
  }
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .about {
    flex-direction: column;
  }
}
.about div {
  width: 22%;
  margin: 3% 0;
  margin-bottom: 0;
  border: 2px dashed #8D7E83;
  padding: 2%;
}
@media (max-width: 500px) {
  .about div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border: 1px dashed #8D7E83;
  }
}
.about div img {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
  border-radius: 5%;
}
@media (max-width: 500px) {
  .about div img {
    width: 200px;
    height: 200px;
  }
}
.about div h1 {
  margin: 4% 0;
  font-size: 3rem;
  color: #006FBB;
}
