// Navigation code here
.nav {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;  
    background: @nav-bg;
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 1.3% 0; 
    // overflow: hidden; 
    // position: fixed; 
    // top: 0; 
    @media @phone {
        max-width: 450px;
        width: 100%;
        margin: 0 auto; 
    }
    
    h1 {
        width: 50%; 
        font-size: 4rem; 
        margin: 0; 
        padding: 0 1%; 
    }
    nav {
        width: 50%;  
        font-size: 1.8rem;
        height: 100%;
        margin: 1% 0;
        display: flex;
        justify-content: flex-end;

        @media @phone {
            margin-bottom: 3%; 
           
        } 
        .join-now {
            background: @button-bg;
            color: white;
            
        }
        .sign-in {
            background: white;
            color: @button-bg;
        }
        a {
             
            padding-top: 3%; 
            margin: 0 3%;
            width: 40%; 
            height: 50px;
            border-radius: 10px;
            font-size: 2.1rem;
            text-align: center;
            

            &:hover {
                .make-keyframes(blurIn, 0%, 100%);
                animation: blurIn .5s;

            }
        } 
    }
  }